*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00382a;
}
header{
    color: white;
    text-align: center;
    margin-top: 46px;
    font-size: 1.4rem;
}
.hidden {
    display: none;
}

#winner h1 {
    color: gold;
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.box__titulo{
    height: 50px;
    display: flex;
    justify-content: center;
}

.container {
    width: 260px;
    height: 400px;
    position: relative;
    margin:  30px auto;
    cursor: cell;
}

.container:hover {
    transition: 350ms;
    transform: scale(1.1);
}

.selecionado {
    border: solid 5px gold;
    border-radius: 10px; 
    transition: 350ms;
    transform: scale(1.1);
}

.selecionado .disco:last-child {
    transition: 350ms;
    transform: translate(0px, -11px);
}

.container .container-linha {
    height: 100%;
}

.container .container-linha .linha {
    height: 100%;
    width: 30px;
    background-color: #dedede;
    margin: 0 auto;
}

.disco-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.disco {
    height: 70px;
    border: solid 1px rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);

}

#d4 {
    width: 55%;
    background-color: rgb(247 255 0);
}
#d3 {
    width: 70%;
    background-color: rgb(9 231 40);
}
#d2 {
    width: 85%;
    background-color: #222ef1;
}
#d1 {
    width: 100%;
    background-color: #ce0202;
}
.audio{
    display: flex;
    justify-content: center;
    height: 100px;
}

@media only screen and (min-width: 460px) {
    main {
        height: 650px;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .flex {
        justify-content: space-around;
        flex-direction: row; 
        align-items: center;
    }


}
